{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>NLI-wiki collections sharing</h1>
      <p>This is a plcaeholder for tool to access NLI collections and easily share them to wiki.</p>

        <h2>TODOs</h2>
        <ul>
            <li>Web interface prototype - design UI for this tool</li>
            <li>Provide access to commons (OAuth) <a href="https://www.mediawiki.org/wiki/Help:OAuth">docs</a> - for upload</li>
            <li>
                Access to NLI collections  - we will focus <a href="http://web.nli.org.il/sites/NLI/Hebrew/Documents/DANHADANI.pdf">Dan Hadani collection(?)</a><ul>
                <li>Data have rich description </li>
                <li>but it is mostly in English - we should provide wikidata/commons annotation for intelanguage access</li>
                <li>Copyrights seems to be OK (need double check before upload to commons!)</li>
            </ul>
            </li>
            <li>Enriching the context based on Wiki or wikidata (term finding/linking/category suggestion)</li>
        </ul>
        <hr>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Flask docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
