{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>NLI-wiki collections sharing</h1>
      <p>This is a plcaeholder for tool to access NLI collections and easily share them to wiki.</p>

	<h2>Scanned books</h2>
<p>Currently only selected collection</p>
<h3>ספר השרשים (p7)</h3>
<a href="https://commons.wikimedia.org/wiki/File:%D7%A1%D7%A4%D7%A8_%D7%94%D7%A9%D7%A8%D7%A9%D7%99%D7%9D.pdf">Commons</a> - 
<a href="https://he.wikisource.org/wiki/%D7%A9%D7%A8%D7%A9%D7%99%D7%9D_%D7%90%D7%95%D7%AA_%D7%94%D7%90%D7%9C%D7%A3">ויקיטקסט</a>
<ol>
{% for book in files %}
<li><a href="book/{{book}}">{{book}}</a></li>
{% endfor %}
</ol>
        <h2>TODOs</h2>
        <a href="https://github.com/eranroz/nli-wiki/tree/master/web">See here</a>
        <hr>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Flask docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
